<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voting.dao.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.voting.pojo.Users">
        <id column="userid" property="userid" />
        <result column="loginName" property="loginName" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="createTime" property="createTime" />
        <result column="isAdmin" property="isAdmin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userid, loginName, username, password, sex, createTime, isAdmin
    </sql>

</mapper>
